# Ignore PC/Mac/Linux (OS) related files
*/*/*/.DS_Store/
*/*/.DS_Store/
*/.DS_Store/
.DS_Store

# Ignore log and pyc files
*.log
*.pyc

# Ignore pycache folders
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# Ignore default database file
db.sqlite3

# Ignore media folder
media
